
<div class="bigBackground">
  <div class="row">
  <div class="column small-12 medium-8 large-6 medium-centered large-centered whiteBackground">
   <span id="workshopName"> <%= @workshop.name %><br> </span>
<%= @workshop.description %><br>
<%= @workshop.date %><br>
<%= @workshop.street %><br>
<%= @workshop.city %><br>
<%= @workshop.state %><br>
<%= @workshop.zip %><br>
<%= image_tag @workshop.workshop_pic.url %>

<% if @registration.errors.any? %>
  <% @registration.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<%end%>

Registered users:
<% @workshop.registrations.each do |registration|%>
  <%= registration.user.email %>
<%end%>

<% if signed_in? %>
  <%if current_user.registrations.where(workshop: @workshop).empty? %>
    <%= form_for [@workshop, @registration] do |f| %>
      <%= f.submit "Register" %>
    <% end %>
  <%else%>
  <% registration = current_user.registrations.find_by(workshop: @workshop)%>
      <%= link_to "Delete my registration", [@workshop, registration], method: :delete, data: { confirm: "Are you sure you want to remove your registration?"} %>
  <% end %>
  <% if current_user == @workshop.user %>
    <%= link_to "Edit Workshop", edit_workshop_path(@workshop) %>
  <% end %>
<% end %>

  </div>
</div>

</div>
