<div class="row">
  <div class="small-12 columns">
    <div>
      <%= @workshop.name %>
    </div>
    <div>
      <%= @workshop.description %>
    </div>
    <div>
      <%= @workshop.formatted_date %>
    </div>
    <div>
      <%= @workshop.street %>
    </div>
    <div>
      <%= @workshop.city %>
      <%= @workshop.state %>
      <%= @workshop.zip %>
    </div>
    <div>
      <%= image_tag @workshop.workshop_pic.url, id: "class-image" %>
    </div>

    <% if @registration.errors.any? %>
      <% @registration.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <%end%>

    Registered users:
    <% @workshop.registrations.each do |registration|%>
      <div class="panel">
        <%= registration.user.email %>
      </div>
    <%end%>

    <% if signed_in? %>
      <%if current_user.registrations.where(workshop: @workshop).empty? %>
        <div>
          <%= form_for [@workshop, @registration] do |f| %>
            <%= f.submit "Register", class: "button" %>
          <% end %>
        </div>
      <%else%>
      <% registration = current_user.registrations.find_by(workshop: @workshop)%>
        <div>
          <%= link_to "Delete my registration", [@workshop, registration], method: :delete, data: { confirm: "Are you sure you want to remove your registration?"}, class: "button" %>
        </div>
      <% end %>
      <% if current_user == @workshop.user %>
        <div>
          <%= link_to "Edit Workshop", edit_workshop_path(@workshop), class: "button" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
